<a href="https://colab.research.google.com/github/surendra3474/takeobds41/blob/main/BDS12_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
*args

In Python, *args is used to pass a variable number of positional arguments to a function. The *args parameter allows a function to accept any number of positional arguments, which are then treated as a tuple within the function.

Here's a basic example:

def my_function(*args):
    for arg in args:
        print(arg)

my_function('Hello', 'World', 'Python')
In this example, *args collects all the positional arguments passed to my_function into a tuple named args. The function then iterates through this tuple and prints each argument.

You can use any name instead of args, but the * before the parameter name is what allows it to accept multiple positional arguments.

It's important to note that *args must be placed as the last positional parameter in the function definition. This is because it collects all remaining positional arguments.

Here's an example where *args is used along with other regular parameters:

def my_function(name, *args):
    print("Name:", name)
    for arg in args:
        print("Additional argument:", arg)

my_function('Alice', 'Hello', 'World', 'Python')
In this case, the first argument (name) is assigned to the parameter name, and the rest of the arguments are collected into the args tuple.

Using *args provides flexibility when you're unsure about the number of arguments that will be passed to a function, allowing you to handle a variable number of arguments without explicitly defining them in the function signature.

kwargs functions

In [ ]:
def my_args1(*mohan):
    return mohan

In [ ]:
my_args1(12,-23,34.45,-45.56,12+23j,-32-43j,True,False,'Python','programming')

(12,
 -23,
 34.45,
 -45.56,
 (12+23j),
 (-32-43j),
 True,
 False,
 'Python',
 'programming')

In [ ]:
def my_kwargs(**surendra):
    return surendra

In [ ]:
my_kwargs(a= 12,
b= -23,
c= 34.45,
d= -45.56,
e= (12+23j),
f= (-32-43j),
g= True,
h= False,
i= 'Python',
j= 'learning',
k= [1, 2, 3, 4, 5],
l= (12, 23, 34, 45, 56),
m= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
n= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'},
a1= 12,
b1= -23,
c1= 34.45,
d1= -45.56,
e1= (12+23j),
f1= (-32-43j),
g1= True,
h1= False,
k1= [1, 2, 3, 4, 5],
l1= (12, 23, 34, 45, 56),
m1= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
n1= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'})

{'a': 12,
 'b': -23,
 'c': 34.45,
 'd': -45.56,
 'e': (12+23j),
 'f': (-32-43j),
 'g': True,
 'h': False,
 'i': 'Python',
 'j': 'learning',
 'k': [1, 2, 3, 4, 5],
 'l': (12, 23, 34, 45, 56),
 'm': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
 'n': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'},
 'a1': 12,
 'b1': -23,
 'c1': 34.45,
 'd1': -45.56,
 'e1': (12+23j),
 'f1': (-32-43j),
 'g1': True,
 'h1': False,
 'k1': [1, 2, 3, 4, 5],
 'l1': (12, 23, 34, 45, 56),
 'm1': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
 'n1': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}}

  #write a program and include normal parameter, *args,**kwargs

In [ ]:
def my_new_arg_func1(*dates, **kiwis, apple, banana, cherries):
    return dates, kiwis, apple, banana, cherries

SyntaxError: ignored

In [ ]:
def my_new_arg_func1(*dates, **kiwis, apple, banana, cherries):
    return dates, kiwis, apple, banana, cherries

In [ ]:
def my_new_arg_func1(apple, banana, cherries, *dates, **kiwis):
    return apple, banana, cherries, dates, kiwis

In [ ]:
my_new_arg_func1('greenapple','yellowbanana','redcherries')

('greenapple', 'yellowbanana', 'redcherries', (), {})

In [ ]:
my_new_arg_func1('greenapple','yellowbanana','redcherries','pineapple','jackfruit')

('greenapple', 'yellowbanana', 'redcherries', ('pineapple', 'jackfruit'), {})

In [ ]:
my_new_arg_func1('greenapple','yellowbanana','redcherries','pineapple','jackfruit',name='suren',address='texas',age=36)

('greenapple',
 'yellowbanana',
 'redcherries',
 ('pineapple', 'jackfruit'),
 {'name': 'suren', 'address': 'texas', 'age': 36})

Lamda Function

In [ ]:
Lambda functions in Python are anonymous, small, and typically one-liner functions that can take any number of arguments
but can only have one expression. They are defined using the lambda keyword. Here's a basic example:

# Regular function
def add(a, b):
    return a + b

# Equivalent lambda function
add_lambda = lambda a, b: a + b

# Using the lambda function
result = add_lambda(3, 5)
print(result)  # Output will be 8
Lambda functions are often used in situations where you need a small function for a short period and
don't want to define a full-fledged function using def. They are commonly used with higher-order functions like map(), filter(), and reduce(), or in cases where you need to pass a function as an argument to another function.

For instance:

# Using lambda with map()
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)  # Output will be [1, 4, 9, 16, 25]
This lambda function squares each element in the numbers list when used with map().

Remember that while lambda functions can be useful for simple operations, it's often recommended to use
 regular functions for more complex logic to improve readability and maintainability.

In [ ]:
x = lambda a : a + 10
print(x(15))

25

In [ ]:
x = lambda a, b : a * b
print(x(20, 23))

460

In [ ]:
x = lambda a, b, c : a + b - c
print(x(12,24,36))

0

In [ ]:
x = lambda a, b, c, d : a + b - c * d
print(x(12,24,36,48))

-1692